<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #jcorianbirthdayform="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="jcorian.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter your first name"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">First name is required</div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="jcorian.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Enter your last name"
               required #lastName="ngModel">
        <div [hidden]="!lastName.pristine" class="alert alert-danger">Last name is required</div>
      </div>

      <div class="form-group">
        <label for="birthday">birthday</label>
        <input type="text" [(ngModel)]="jcorian.birthday"
               class="form-control"
               id="birthday"
               name="birthday"
               placeholder="Enter your birthday (YYYY-MM-DD)"
               required #birthday="ngModel">
        <div [hidden]="!birthday.pristine" class="alert alert-danger">Last name is required</div>
      </div>
      <button type="submit" [disabled]="!jcorianbirthdayform.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
