<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #jcorianForm="ngForm">
            <div class="form-group">
                <label for="day">Dag</label>
                <input type="text" [(ngModel)]="day"
                       class="form-control"
                       id="day"
                       name="day"
                       placeholder="Enter your day"
                       required #firstName="ngModel">
            </div>
            <div [hidden]="!firstName.pristine" class="alert alert-danger">Dag is required</div>
            <div class="form-group">
                <label for="month">Maand</label>
                <input type="text" [(ngModel)]="month"
                       class="form-control"
                       id="month"
                       name="month"
                       placeholder="Enter your month"
                       required #lastName="ngModel">
                <div [hidden]="!lastName.pristine" class="alert alert-danger">Maand is required</div>
            </div>
            <button type="submit" [disabled]="!jcorianForm.form.valid"
                    class="btn btn-info">Submit</button>
        </form>
    </div>
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Birthday</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jcorian of jcorians">
            <td>{{ jcorian.id }}</td>
            <td>{{ jcorian.firstName }}</td>
            <td>{{ jcorian.lastName }}</td>
            <td>{{ jcorian.birthday }}</td>
        </tr>
        </tbody>
    </table>
</div>
