<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Birthday</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let jcorian of jcorians">
        <td>{{ jcorian.id }}</td>
        <td>{{ jcorian.firstName }}</td>
        <td>{{ jcorian.lastName }}</td>
        <td>{{ jcorian.birthday }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
